<div id="commentContainer">
    <div id="commentHeaderContainer"></div>
    <div id="restOfCommentContainer">
        <div id="insideCommentContainer">
            <div id="comment">Post Comments:</div>
            <textarea id="commentedInput" disabled>{{this.comment_content}}</textarea>
        </div>
        <div id="commentDate">-{{this.author}}, {{this.createdAt}}</div>
    </div>
</div>
