<div id = "createPostContainer">
    <div id = "createPostCard">
        <div id = "createPostHeader">Create New Post</div>
        <div class = "linebreak"></div>
        <div id = "titleContainer">
            <div id = "postTitle">Title</div>
            <input id = "titleInput">
        </div>
        <div class = "linebreak"></div>
        <div id = "contentContainer">
            <div id = "content">Content</div>
            <textarea id = "contentInput"></textarea>
        </div>
        <div class = "linebreak"></div>
        <button id = "createButton">Create</button>
    </div>
</div>